body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.selection{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.bulb{
    vertical-align: middle;
    height: 90px;
    cursor: pointer;
}
.zoom_in{
    margin-left: 15px;
    height: 50px;
    vertical-align: middle;
}
.zoom_out{
    height: 50px;
    vertical-align: middle;
}
#genre{
    vertical-align: middle;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
}
.main{
    padding: 130px;
    text-align: center;
}
.displayQuote{
    font-size: 30px;
}
.display{
    font-weight: bold;
    color: grey;
    padding-left: 250px;
}
.buttons{
    padding: 130px;
    text-align: center;
}
#prev, #next, #rand{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer ;
}

/* Mobile-responsive */
@media (max-width: 430px) {
    body{
        margin: 0;
        padding: 0;
    }
    .main{
        padding: 10px;
    }
    .zoom_in, .zoom_out{
        height: 25px;
    }
    .selection{
        padding: 1px;
    }
    .display{
        padding-left: 125px;
    }
}